html, body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*------------------------------*\
    Grid System
\*------------------------------*/

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row,
.column {
  box-sizing: border-box;
}

.row:after {
  clear: both;
}

.column + .column {
    margin-left: 1.6%;
  }

.column {
    position: relative;
    float: left;
  }

.column-1 {
    width: 6.86666666667%;
  }
  
  .column-2 {
    width: 15.3333333333%;
  }
  
  .column-3 {
    width: 23.8%;
  }
  
  .column-4 {
    width: 32.2666666667%;
  }
  
  .column-5 {
    width: 40.7333333333%;
  }
  
  .column-6 {
    width: 49.2%;
  }
  
  .column-7 {
    width: 57.6666666667%;
  }
  
  .column-8 {
    width: 66.1333333333%;
  }
  
  .column-9 {
    width: 74.6%;
  }
  
  .column-10 {
    width: 83.0666666667%;
  }
  
  .column-11 {
    width: 91.5333333333%;
  }
  
  .column-12 {
    width: 100%;
  }

/*------------------------------*\
   End of Grid System
\*------------------------------*/

/*------------------------------*\
   COMMONS
\*------------------------------*/

#button-top {
  background-color: white;
  display: flex;
  height: 50px;  
  width: 50px;
  border: 2px;
  color: #161616;
  border-radius: 180px;
  bottom: 20px;
  right: 30px;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

#button-top a {
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 30px;
  opacity: .5;
  transition: opacity ease .5s;
  color: #161616;
}

#button-top a:hover {
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 30px;
  opacity: 1;
}

h1 {
  padding: 0px;
  margin: 0px;
  color: white;
}

p {
  padding: 0px;
  margin: 0px;
  color: white;
}

.hidden-section {
  opacity: 0;
} 
.visible-section {
  opacity: 1;  
}

.section-content {
  padding: 4vh 4vw;
}

/*------------------------------*\
   END OF COMMONS
\*------------------------------*/

/*------------------------------*\
    HEADER
\*------------------------------*/
header {
  z-index: 1;
}

nav#nav-menu {
    display: flex; 
    justify-content: flex-end;    
    height: 70px;
    background: #161616;
}

.nav-menu-list {
    padding: 0px;
    display: flex;    
    justify-content: space-around;
    align-items: center;
}

.menu-list-item {
    padding: 10px;
}

ul {
    list-style: none;
}

li a {
    padding: 10px;
    text-decoration: none;
    color: aliceblue
}

/*------------------------------*\
    END OF HEADER
\*------------------------------*/

/*------------------------------*\
    PRINCIPAL-CONTENT
\*------------------------------*/

#home {
  height: calc(100vh);
}

#filter {
  position: absolute;
  background: blue;
  opacity: .3;
  
  height: calc(100vh - 70px);
  background-image: linear-gradient(red, blue);
  filter: grayscale(10%);

}

#image-background {
  display: flex;
  background: url('./img/sabia-quemsao.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: calc(100vh - 70px);
  justify-content: flex-start;
  align-items: center;

}

#image-background img {
  animation: logo-animation 1.5s;
  position:relative;
  padding: 20px;
  margin: 20px;
  width: 400px;
  height: 400px;
}

/*------------------------------*\
    END OF PRINCIPAL-CONTENT
\*------------------------------*/


/*------------------------------*\
    QUEMSAO
\*------------------------------*/

#quemsao {
  height: calc(70vh);
  background: #161616;
}

#quemsao-description {
  display: flex;
  flex-wrap: wrap;
}

#description-title {
}

#description-content {
  position: relative;
  opacity: 0;
}

#description-content p {
  text-indent: 4em;
  font-size: 14pt;
  padding: 1vw;
  text-align: justify;
}

/*------------------------------*\
    END OF QUEMSAO
\*------------------------------*/

/*------------------------------*\
    CONTACT
\*------------------------------*/

#contact {
    height: calc(100vh - 20vh);
    background: purple;
    box-shadow: inset -385px 0 231px 10px;
}

#contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contact-content-body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#contact-content h1 {
  width: 100%;
}

#contact-bird-image img {
  position: relative;
  opacity: 0;
  width: 300px;
  padding: 2vw;
}

#contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;

}

#contact-content form label,
input,
textarea {
  width: 80%;
  padding: 5px;
  margin: 4px;
  resize: none;
}

#send-button {
  background-color: #161616;
  border: none;
  margin: 4px;
  color: white;
  transition: opacity ease .5s;
  opacity: 1;
}

#send-button:hover {
  opacity: .7;
  cursor: pointer;

  
}

/*------------------------------*\
    END OF CONTACT
\*------------------------------*/

/*------------------------------*\
    FOOTER
\*------------------------------*/

footer {
  background-color: #161616;
  padding: 0px;
  margin: 0px;
  height: calc(20vh);
  display: flex;
  align-items: flex-end;
}

#footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer-logo {
  width: 60px;
  height: 60px;
}

#icones-redes-sociais {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

#icones-redes-sociais li {
  padding: 0 10px;
  margin: 0 10px;
}

.icones-redes-sociais {
  font-size: 20px;
  transition: opacity ease .5s;
  opacity: .6;

}

.icones-redes-sociais:hover {
  opacity: 1;
}

/*------------------------------*\
    END OF FOOTER
\*------------------------------*/



/*------------------------------*\
    KREYFRAMES
\*------------------------------*/

@keyframes logo-animation {
  from { 
    left: -400px; 
    opacity: 0;
  }
  to { 
    left: 0;
    opacity: 1;
  }
}

@keyframes section-content-animation {
  from {
    right: -400px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

/*------------------------------*\
    END OF KEYFRAMES
\*------------------------------*/

/*------------------------------*\
    CLASSES FOR JS
\*------------------------------*/

.show-content {
  animation: section-content-animation 2s ease both;
}

.show-img {
  animation: logo-animation 2s ease both;
}

/*------------------------------*\
    END OF CLASSES FOR JS
\*------------------------------*/

/*------------------------------*\
    Mobile only
\*------------------------------*/

  @media only screen and (max-width: 550px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
      width: auto;
      float: none;
    }
  
    .column + .column {
      margin-left: 0;
    }
  }

/*------------------------------*\
    End Mobile only
\*------------------------------*/